{% extends 'houses/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>{{ title }}</title>{% endblock %}
</head>
</head>
<body>
{% block content %}

<section class="sale_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container">
            <h2>
                House For Sale
            </h2>
            <p style="font-size: 18px;">
                {{ title }}
            </p>
        </div>

        {% if houses %}
        <div class="sale_container">
            {% for house in houses %}
            <div class="box">
                <div class="img-box">
                    <img src="{{ house.image.url }}" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        <a href="#">{{ house.name }}</a>
                    </h6>
                    <p>
                        {{ house.price }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p align="center" style="font-size: 25px;">
            Не найдено результатов
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        {% endif %}
    </div>
</section>

{% if page_obj.has_other_pages %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">

      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
          Previous</a>
      </li>
      {% endif %}

      {% for p in page_obj.paginator.page_range %}

      {% if page_obj.number == p %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
      <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}

      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}

</body>
</html>